body{
    background-color: rgb(34, 21, 5);
}
.rad{
    color: red;
}
.oranj{
    color: orange;
}
.jell{
    color: yellow;
}
.grin{
    color: green;
}
.lblew{
    color: lightblue;
}
.blew{
    color: blue;
}
.fiol{
    color:violet;
}